@charset "utf-8";
.list-group-item
{
	font-size:24px;
	color:#FFF;
	font-weight:bold;
	height:100px;
}

.list-group-item:nth-child(odd)
{
	background:#DAA520;
}

.list-group-item:nth-child(even)
{
	background:#b20000;
}

